[submodule "catkin_ws/src/packagedeps/realsense-ros"]
	path = catkin_ws/src/packagedeps/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
	branch = development
[submodule "catkin_ws/src/packagedeps/imu_tools"]
	path = catkin_ws/src/packagedeps/imu_tools
	url = git@github.com:ccny-ros-pkg/imu_tools.git
	branch = melodic
[submodule "depends/opencv"]
	path = depends/opencv
	url = git@github.com:opencv/opencv.git
[submodule "depends/opencv_contrib"]
	path = depends/opencv_contrib
	url = git@github.com:opencv/opencv_contrib.git
[submodule "catkin_ws/src/packagedeps/velodyne"]
	path = catkin_ws/src/packagedeps/velodyne
	url = git@github.com:ros-drivers/velodyne.git
[submodule "catkin_ws/src/packagedeps/rtabmap_ros"]
	path = catkin_ws/src/packagedeps/rtabmap_ros
	url = git@github.com:introlab/rtabmap_ros.git
[submodule "catkin_ws/src/packagedeps/navigation_msgs"]
	path = catkin_ws/src/packagedeps/navigation_msgs
	url = git@github.com:ros-planning/navigation_msgs.git
[submodule "depends/rtabmap"]
	path = depends/rtabmap
	url = git@github.com:introlab/rtabmap.git
[submodule "depends/libpointmatcher"]
	path = depends/libpointmatcher
	url = git@github.com:ethz-asl/libpointmatcher.git
[submodule "depends/libnabo"]
	path = depends/libnabo
	url = git@github.com:ethz-asl/libnabo.git
[submodule "depends/gtsam"]
	path = depends/gtsam
	url = git@github.com:borglab/gtsam.git
[submodule "catkin_ws/src/packagedeps/robot_localization"]
	path = catkin_ws/src/packagedeps/robot_localization
	url = git@github.com:cra-ros-pkg/robot_localization.git
