[submodule "catkin_ws/src/packagedeps/realsense-ros"]
	path = catkin_ws/src/packagedeps/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
	branch = development
[submodule "catkin_ws/src/packagedeps/imu_tools"]
	path = catkin_ws/src/packagedeps/imu_tools
	url = git@github.com:ccny-ros-pkg/imu_tools.git
	branch = melodic