<!-- Node for merging magnetometer and accelerometer data into a single imu message -->
<launch>
    #### Nodelet manager ######################################################
    <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen" />
    #### IMU Driver ###########################################################
    <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" output="screen">

        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu" />

    </node>


</launch>