<launch>
  <include file="$(find realsense_tools)/launch/rs_camera.launch">
  <node pkg="rosbag" type="record" name="rosbag_record_cam"
       args="record -o     
        /camera/accel/imu_info
        /camera/accel/sample
        /camera/aligned_depth_to_color/camera_info
        /camera/aligned_depth_to_color/image_raw
        /camera/color/camera_info
        /camera/color/image_raw
        /camera/depth/camera_info
        /camera/depth/color/points
        /camera/depth/image_rect_raw
        /camera/extrinsics/depth_to_color
        /camera/gyro/imu_info
        /camera/gyro/sample
        /camera/imu
        /camera/imu/imu_info
        /camera/motion_module/parameter_descriptions
        /camera/motion_module/parameter_updates
        /camera/pointcloud/parameter_descriptions
        /camera/pointcloud/parameter_updates
        /camera/realsense2_camera_manager/bond
        /camera/rgb_camera/auto_exposure_roi/parameter_descriptions
        /camera/rgb_camera/auto_exposure_roi/parameter_updates
        /camera/rgb_camera/parameter_descriptions
        /camera/rgb_camera/parameter_updates
        /camera/stereo_module/auto_exposure_roi/parameter_descriptions
        /camera/stereo_module/auto_exposure_roi/parameter_updates
        /camera/stereo_module/parameter_descriptions
        /camera/stereo_module/parameter_updates
        /diagnostics
        /rosout
        /rosout_agg
        /tf
        /tf_static
       "/>
</launch>
