<launch>

    <arg name="camera" default="camera" />

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">

        <arg name="pcap" value="$(find velodyne_pointcloud)/Files/Test3.pcap" />

    </include>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 velodyne map 40" />

    <node pkg="rviz" type="rviz" name="rviz" />


</launch>