<launch>

    <arg name="camera" default="camera" />
    <arg name="rgb_image" default="/camera/color/image_raw" />
    <arg name="depth_image" default="/camera/aligned_depth_to_color/image_raw" />
    <arg name="camera_info" default="/camera/aligned_depth_to_color/camera_info" />

    <arg name="yolo_model" default="$(find object_detection)/cfg/yolo_detection.yaml" />
    <arg name="sort_tracking" default="$(find object_detection)/cfg/sort_tracking.yaml" />


    <node pkg="rviz" type="rviz" name="rviz" />
    <!--<include file="$(find realsense_tools)/launch/rs_camera.launch" />-->


    <node pkg="object_detection" type="yolo_detection.py" name="Yolo" output="screen">

        <remap from="image" to="$(arg rgb_image)" />
        <remap from="camera_info" to="$(arg camera_info)" />
        <remap from="depth_image" to="$(arg depth_image)" />

        <remap from="output_image" to="/detection/yolo/objects_image" />
        <remap from="bounding_boxes" to="/detection/yolo/bboxes" />

        <rosparam command="load" file="$(arg yolo_model)" />

    </node>

    <node pkg="object_detection" type="sort_tracking.py" name="SORT" output="screen">

        <remap from="image" to="$(arg rgb_image)" />
        <remap from="camera_info" to="$(arg camera_info)" />
        <remap from="depth_image" to="$(arg depth_image)" />

        <remap from="bounding_boxes" to="/detection/yolo/bboxes" />
        <remap from="output_image" to="/tracking/yolo/objects_image" />
        <remap from="object" to="/tracking/yolo/object" />

        <rosparam command="load" file="$(arg sort_tracking)" />

    </node>

</launch>